.candidate-layout {
  min-height: 400px;
  width: 100%;
  padding: 50px;
}

.candidate-information-alignment{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.candidate-information-title {
  color: lightgray;
}

.candidate-information-list {
  font-size: 30px;
}